<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 解决sql传入参数字段为空时找不到对应类型报错-->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- 结果封装到map,遇到值为null时候,以空串代替 -->
        <setting name="callSettersOnNulls" value="true"/> 
        <!-- 打开延迟加载的开关 -->
<!--         <setting name="lazyLoadingEnabled" value="true" /> -->
        <!-- 改积极加载为消极加载及按需加载 -->
<!--         <setting name="aggressiveLazyLoading" value="false" />  -->
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    
    <!-- 别名 -->
    <typeAliases>
            <package name="com.jk.ndtetl"/>
    </typeAliases>


	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 数据库 -->
            <property name="dialect" value="oracle"/>
            <!-- 该参数默认为false -->
	        <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
	        <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
        	<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 当设置为true的时候，如果pagesize设置为0（或RowBounds的limit=0），就不执行分页，返回全部结果
            <property name="pageSizeZero" value="true"/>-->
        </plugin>
	</plugins>
</configuration>